
<div class="container">
    <div class="row">
        <div class="col-md-12">
     <div class="card shadow-sm mt-">
        <div class="card-header">Add Menu </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">
              <thead class="table-light">
                <tr>
                  <th>#</th>
                  <th>Cuisine Name</th>
                  <th>Meals Name</th>
                  
                </tr>
              </thead>
              <tbody style="height: 66vh; overflow-y: auto;">
                <tr *ngFor="let row of data , let i = index">
                  <td class="align-middle">{{i+1}}</td>
                  <td class="align-middle">{{row.cuisineName}}</td>
                  <td>
                    <ul style="list-style-type: none; padding-left: 0;">
                      <li
                        class="my-3 d-flex align-items-center justify-content-between"
                        *ngFor="let meal of row.meals"
                        [ngClass]="meal.isSelected ? 'selected-meal' : ''">
                        {{ meal.mealName }}
                        <label class="switch">
                         <input type="checkbox"
                         [checked]="meal.isSelected"
                         (change)="toggleMeal(meal)">
                          <span class="slider"></span>
                         </label>
                      </li>
                    </ul>
                  </td>
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
            </div>
        </div>
    </div> 
    
   

    

   




    
