<header>
  <h1>Order Summary</h1>
</header>

<!-- Summary Cards -->
<div class="summary" *ngIf="summary">
  <div class="card">
    <h2>Total Orders</h2>
    <p>{{ summary.totalOrders }}</p>
  </div>
  <div class="card">
    <h2>Pending Orders</h2>
    <p>{{ summary.totalCountOfPendingOrder }}</p>
  </div>
  <div class="card">
    <h2>Assigned Orders</h2>
    <p>{{ summary.totalCountOfAssignedOrder }}</p>
  </div>
  <div class="card">
    <h2>Delivered Orders</h2>
    <p>{{ summary.totalCountOfDeliveredOrder }}</p>
  </div>
  <div class="card">
    <h2>Total Revenue</h2>
    <p> ₹ {{ summary.totalOrderCost?.toFixed(2) }}/-</p>
  </div>
</div>

<!-- Chart -->
<div class="chart-container" *ngIf="summary">
  <canvas id="summaryChart"></canvas>
</div>

