.card{
  background-image: linear-gradient(to bottom right, rgb(246, 246, 213),rgb(248, 225, 225));
}
.container{
  margin-top: -30px;
}
h4{
    margin-left: 195px;
    font-weight: bold;
}
.button{
 background-image: linear-gradient(90deg, #FF512F, #FF7043);
}
.card-header{
    margin-left: 150px;
    font-weight: bold;
}
input{
  border: 1px solid orange;
}
.error-msg{
  font-size: 12px;
  position: absolute;
  color: red;
}

