
<div class="container d-flex justify-content-center">
  <div class="card shadow p-3">
    <h3 class="text-center fw-bold">Add Cuisine</h3>
    <form [formGroup]="addCuisineForm" (ngSubmit)="addCuisine()">

      <div class="mb-2">
        <label class="form-label"> Cuisine Name</label>
        <input type="text" class="form-control custom-border" placeholder="Enter Cusine Name" formControlName="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger small">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
          <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</div>
          <!-- <div *ngIf="name.errors?.['pattern']">Name must contain letters only (no numbers or special characters)</div> -->
        </div>
      </div>

      <div class="mb-2">
         <label class="form-label">State</label>
        <input type="text" class="form-control custom-border" placeholder="Enter State" formControlName="state">
        <div *ngIf="state.invalid && (state.dirty || state.touched)" class="text-danger small">
          <div *ngIf="state.errors?.['required']">State is required.</div>
          <div *ngIf="state.errors?.['minlength']">State must be at least 3 characters long.</div>
          <div *ngIf="state.errors?.['pattern']">State must contain letters only (no numbers or special characters)</div>
        </div>
      </div>

      <div class="mb-2">
        <label class="form-label">Description</label>
        <input type="text" class="form-control custom-border" placeholder="Enter Description" formControlName="description">
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger small">
          <div *ngIf="description.errors?.['required']">description is required.</div>
          <div *ngIf="description.errors?.['minlength']">description must be at least 3 characters long.</div>
        </div>
      </div>

      <div class="mb-2">
        <label class="form-label">Cuisine Photo</label>
        <input type="file" class="form-control" (change)="onFileSelect($event, 'cuisinePhoto')">
        <small class="text-danger" *ngIf="addCuisineForm.get('cuisinePhoto')?.invalid && addCuisineForm.get('cuisinePhoto')?.touched">
          Photo is required
        </small>
      </div>

      <button type="submit" class="button border-0 w-100 text-white p-1 mt-3 mb-2" [disabled]="addCuisineForm.invalid">
        Submit
      </button>
    </form>
  </div>
</div>


