.main{
    margin-top: 140px;
}
.card{
  margin-top: -10px;
    width: 550px;
    background-image: linear-gradient(to bottom right, rgb(246, 246, 213),rgb(248, 225, 225));
}
button{
 background-image: linear-gradient(90deg, #FF512F, #FF7043);
}
.custom-border{
  border: 1px solid orange;
}