
    <div class="container mt-5">
      <div class="card shadow-sm p-4">
        <h4 class="mb-3">Add Cloud Kitchen</h4>
        <form [formGroup]="cloudKitchenForm">
          
          <!-- State -->
          <div class="mb-3">
           <label class="form-label">State</label>
        <input type="text" class="form-control custom-border" placeholder="Enter State" formControlName="state">
        <div *ngIf="state.invalid && (state.dirty || state.touched)" class="text-danger small">
          <div *ngIf="state.errors?.['required']">State is required.</div>
          <div *ngIf="state.errors?.['minlength']">State must be at least 3 characters long.</div>
          <div *ngIf="state.errors?.['pattern']">State must contain letters only (no numbers or special characters)</div>
        </div>
          </div>

          <!-- City -->
          <div class="mb-3">
           <label class="form-label">City</label>
        <input type="text" class="form-control custom-border" placeholder="Enter City" formControlName="city">
        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="text-danger small">
          <div *ngIf="city.errors?.['required']">City is required.</div>
          <div *ngIf="city.errors?.['minlength']">City must be at least 3 characters long.</div>
          <div *ngIf="city.errors?.['pattern']">City must contain letters only (no numbers or special characters)</div>
        </div>
          </div>

          <!-- Division -->
          <div class="mb-3">
            <label class="form-label">Division</label>
        <input type="text" class="form-control custom-border" placeholder="Enter Division" formControlName="division">
        <div *ngIf="division.invalid && (division.dirty || division.touched)" class="text-danger small">
          <div *ngIf="division.errors?.['required']">Division is required.</div>
          <div *ngIf="division.errors?.['minlength']">Division must be at least 3 characters long.</div>
          <div *ngIf="division.errors?.['pattern']">Division must contain letters only (no numbers or special characters)</div>
        </div>
          </div>

          <!-- Address -->
          <div class="mb-3">
           <label class="form-label">Address</label>
        <input type="text" class="form-control custom-border" placeholder="Enter Address" formControlName="address">
        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger small">
          <div *ngIf="address.errors?.['required']">Address is required.</div>
          <div *ngIf="address.errors?.['minlength']">Address must be at least 3 characters long.</div>
        </div>
          </div>

          <!-- PinCode -->
          <div class="mb-3">
           <label class="form-label">PinCode</label>
        <input type="text" class="form-control custom-border" placeholder="Enter PinCode" formControlName="pinCode">
        <div *ngIf="pinCode.invalid && (pinCode.dirty || pinCode.touched)" class="text-danger small">
          <div *ngIf="pinCode.errors?.['required']">PinCode is required.</div>
          <div *ngIf="pinCode.errors?.['pattern']">PinCode must contain Numbers only (no Letters or special characters)</div>
        </div>
          </div>

          <!-- Button -->
          <button class=" button border-0 w-100 text-white p-1" [disabled]="cloudKitchenForm.invalid" (click)="addCloudKitchen()" >Submit</button>
        </form>
      </div>
    </div>
  


