.container{
    width: 500px;
}

.card{
  background-image: linear-gradient(to bottom right, rgb(246, 246, 213),rgb(248, 225, 225));
  border: 1px solid orange;
  margin-top: -40px;
}
h4{
  margin-left: 84px;
  font-weight: bold;
}
label{
    font-weight: bold;
}
.custom-border{
  border: 1px solid orange;

}
button{
 background-image: linear-gradient(90deg, #FF512F, #FF7043);
}