             <!-- Forgot Password -->
<div class="container-fluid" *ngIf="!isOtpReceived">
    <div class="row justify-content-center">
    <div class="forgot-card">
    <div class="login-header">Forgot Password</div>

    <form [formGroup]="forgotPasswordForm">
      <input type="email" class="form-control" placeholder="Enter Your Email" formControlName="emailOrId">
      <button type="submit" class="btn btn-custom" (click)="sendOtp()">Send OTP</button>
      <br><br>
    </form>
  </div> 
</div>
  </div>


            <!-- Reset Password -->
<div class="container-fluid" *ngIf="isOtpReceived">
    <div class="row justify-content-center">
    <div class="reset-card">
    <div class="login-header">Reset Password</div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <input type="number" class="form-control" placeholder="Enter OTP" formControlName="otp">
      <input type="password " class="form-control" placeholder="Enter Your New Password" formControlName="newPassword">
      <input type="password " class="form-control" placeholder="Confirm New Password" formControlName="confirmNewPassword">
      <button type="submit" class="btn btn-custom">Submit</button>
      <br><br>
    </form>
  </div> 
</div>
  </div> 



