    .forgot-card {
      border-radius: 25px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      width: 350px;
      height: 300px;
      padding: 30px;
      position: relative;
      align-items: center;
      margin-top: 100px;
      background-image: linear-gradient(to bottom right, rgb(246, 246, 213),rgb(248, 225, 225));
    }
    .reset-card{
      border-radius: 25px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      width: 350px;
      height: 370px;
      padding: 30px;
      position: relative;
      align-items: center;
      margin-top: 100px;
      background-image: linear-gradient(to bottom right, rgb(246, 246, 213),rgb(248, 225, 225));
    }
    .login-header {
      font-family: 'Georgia', cursive;
      font-size: 28px;
      text-align: center;
      margin-bottom: 20px;
      color: #6c2e1f;
    }

    .form-control {
      border-radius: 12px;
      margin-bottom: 20px;
      border: 1px solid orange;
    }

    .btn-custom {
      width: 100%;
      border-radius: 25px;
      background: linear-gradient(to right, #e05a2a, #e6844d);
      color: white;
      font-weight: bold;
      border: none;
      padding: 10px;
      margin-top: 20px;
    }

    .btn-custom:hover {
      background: linear-gradient(to right, #cf4818, #db7232);
    }

   



