.card {
      margin-top: 150px;
      border-radius: 1.5rem;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      background-image: linear-gradient(to bottom right, rgb(246, 246, 213),rgb(248, 225, 225));

    }
    .form-control:focus {
      border-color: #ff7e5f;
      box-shadow: 0 0 0 0.2rem rgba(255, 126, 95, 0.25);
    }
    .btn-custom {
      background-image: linear-gradient(90deg, #FF512F, #FF7043);
      border: none;
      color: white;
      border-radius: 25px;
      transition: 0.3s;
    }
    .btn-custom:hover {
      background: #feb47b;
    }

    input{
      border: 1px solid orange;
    }
