
    .form-control {
      border-radius: 12px;
      margin-bottom: 20px;
      border: 1px solid orange;
    }

    .btn-custom {
      width: 100%;
      border-radius: 25px;
      background: linear-gradient(to right, #e05a2a, #e6844d);
      color: white;
      font-weight: bold;
      border: none;
      padding: 10px;
      margin-top: 20px;
    }

    .btn-custom:hover {
      background: linear-gradient(to right, #cf4818, #db7232);
    }
.body {
      margin: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
    }

    .bg-blur {
      background-image: url('https://t3.ftcdn.net/jpg/02/64/00/56/360_F_264005624_NyFEBO7k0OsNMQiI343zBZZ7WH89f6Ls.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      filter: blur(3px);
    }
    .bg-blur::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      z-index: -1;
    }
    .login-container {
      max-width: 1000px;
      width: 100%;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 0 8px 8px rgba(118, 116, 116, 0.71);
      overflow: hidden;
      position: relative;
      z-index: 1;
    }

    .login-left {
      padding: 40px;
    }
    .login-left h2 {
      font-weight: bold;
      margin-bottom: 20px;
    }
    .login-left .form-control {
      border-radius: 8px;
    }
    .btn-custom {
      background-color: #ff4d4d;
      color: #fff;
      border-radius: 8px;
      font-weight: 500;
    }
    .btn-custom:hover {
      background-color: #e63939;
    }
    .login-right {
      background-image: url('https://images.unsplash.com/photo-1460306855393-0410f61241c7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJ1cmdlcnxlbnwwfHwwfHx8MA%3D%3D');
      background-size: cover;
    }