
 <div class="body">
<div class="bg-blur"></div>

<div class="login-container row g-0">
  <div class="col-md-6 login-left d-flex flex-column justify-content-center">
    <h2>Welcome Back!</h2>
    <p class="text-muted">Login to continue ordering your favorite food</p>
    <form [formGroup]="allLoginForms" >
      <label class="form-label">User Id :</label>
      <input type="email" class="form-control" placeholder="User Id" formControlName="emailOrId">
      <label class="form-label">Password :</label>
      <input type="password" class="form-control" placeholder="Your password" formControlName="password">
      <a routerLink="/forgot_password">Forgot Password?</a>
      <button type="submit" class="btn btn-custom" (click)="login()">LOG IN</button>
      <br><br>
      <span >You don't have an account? <a routerLink="/create_account">SignUp</a></span>
    </form>
  </div>
  <div class="col-md-6 login-right d-none d-md-block"></div>
</div>
</div>

