 <!-- <div class="chat-content border rounded p-2 mb-2" style="height: 350px; overflow-y: auto;">
    <p class="text-muted small">Hi! How can I help you with this order?</p>

    <div class="mt-2">
      <p class="fw-semibold small mb-1">Choose an issue:</p>
      <button class="btn btn-outline-danger btn-sm w-100 text-start mb-1" >
        🚫 Food was cold
      </button>
      <button class="btn btn-outline-danger btn-sm w-100 text-start mb-1" >
        🚫 Wrong item delivered
      </button>
      <button class="btn btn-outline-danger btn-sm w-100 text-start mb-1" >
        🚫 Food quality issue
      </button>
      <button class="btn btn-outline-danger btn-sm w-100 text-start" >
        ❓ Other issue
      </button>
    </div> 
  </div> 
  <div class="d-flex">
    <input type="text" class="form-control rounded-pill me-2" placeholder="Type your message...">
    <button class="btn btn-success send"><i class="bi bi-send-fill fs-6"></i></button>
  </div>  -->




