
<div class="position-fixed top-0 start-0 end-0 z-3">
  <app-navbar></app-navbar>
</div>

<div class="container justify-content-center">
<div class="row w-100 gx-4">
    <div class="col-3 mb-3">
  <div class="card  p-4 text-center position-relative">
        <h4 class="fw-bold">Daily</h4>
        <h5 class="fw-bold"></h5>
        <p> Choose between BreakFast,lunch,Hity &dinner for a daily  & Full-day meal service for a complete experience.</p>
        <ul class="list-unstyled text-start">
            <li>✅ Free delivery</li>
            <li>✅ Weekly menu rotation</li>
            <li>✅ Priority support</li>
            <li>✅ Customizable menu</li>
        </ul>
    </div>
    </div>
    <div class="col-3 mb-3">
  <div class="card  p-4 text-center position-relative">
        <h4 class="fw-bold">Weekly</h4>
        <h5 class="fw-bold"></h5>
        <p> Choose between BreakFast,lunch,Hity,dinner for a Weekly & Full-day meal service for a complete experience.</p>

        <ul class="list-unstyled text-start">
            <li>✅ Free delivery</li>
            <li>✅ Weekly menu rotation</li>
            <li>✅ Priority support</li>
            <li>✅ Customizable menu</li>
        </ul>
    </div>
    </div>

    <div class="col-3 mb-3">
  <div class="card  p-4 text-center position-relative">
        <h4 class="fw-bold">Monthly</h4>
        <h5 class="fw-bold"></h5>
        <p> Choose between BreakFast,lunch,Hity,dinner for a Monthly & Full-day meal service for a complete experience.</p>
        <ul class="list-unstyled text-start">
            <li>✅ Free delivery</li>
            <li>✅ Weekly menu rotation</li>
            <li>✅ Priority support</li>
            <li>✅ Customizable menu</li>
        </ul>
    </div>
    </div>

    <div class="col-3 mb-3">
  <div class="card  p-4 text-center position-relative">
        <h4 class="fw-bold">Quarterly</h4>
        <h5 class="fw-bold"></h5>
        <p> Choose between BreakFast,lunch,Hity,dinner for a Quarterly & Full-day meal service for a complete experience.</p>
        <ul class="list-unstyled text-start">
            <li>✅ Free delivery</li>
            <li>✅ Weekly menu rotation</li>
            <li>✅ Priority support</li>
            <li>✅ Customizable menu</li>
        </ul>
    </div>
    </div>
        <button class="btn subscribe-btn w-25 mt-5" routerLink="/subscription">Subscribe Now</button>
</div>
</div>

