<div class="position-fixed top-0 start-0 end-0 z-3" *ngIf="!isAdmin">
  <app-navbar></app-navbar>
</div>

<div class="row w-100 gx-4" [class.mt-8]="!isAdmin">
    <div class="col-3 mb-3" *ngFor="let row of data">
  <div
    class="card  p-4 text-center position-relative" [ngClass]="{'pricing-card-hover': !isAdmin, 'pricing-card': isAdmin}">
          
         <div *ngIf="isAdmin" class="position-absolute end-0 top-0 p-4" (click)="deleteSubscription(row.subId)" style="cursor: pointer;">
         <i class="bi bi-trash h5 text-danger"></i>
         </div>

        <h4 class="fw-bold">{{row.durationType}}</h4>
        <h5 class="fw-bold">{{row.subName}}</h5>
        <h5 class="text-muted">Price ₹ {{row.price}}/-</h5>
        <p>{{row.description}}</p>
        <ul class="list-unstyled text-start">
            <li>✅ Free delivery</li>
            <li>✅ Weekly menu rotation</li>
            <li>✅ Priority support</li>
            <li>✅ Customizable menu</li>
        </ul>
        <button *ngIf="!isAdmin" class="btn subscribe-btn w-100 mt-3">Subscribe Now</button>


    </div>
    </div>
</div>
