<!-- Footer Start -->
  <div class="container-fluid footer">
    <div class="row text-start">
      <!-- ABOUT -->
      <div class="col-md-2 col-sm-6 mb-4">
        <div class="footer-title">ABOUT</div>
        <ul class="list-unstyled">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Subscription Base</a></li>
          <li><a href="#">Gift Card</a></li>
          <li><a href="#">Help & Support</a></li>
          <li><a href="#"> Offers and Rewards </a></li>
          <li><a href="#">Rating and Review</a></li>
        </ul>
      </div>

      <!-- SUBSCRIPTION -->
      <div class="col-md-1 col-sm-6 mb-4">
        <div class="footer-title sub">SUBSCRIPTION</div>
        <ul class="list-unstyled sub">
          <li><a href="#">Daily</a></li>
          <li><a href="#">Weekly</a></li>
          <li><a href="#">Monthly</a></li>
        </ul>
      </div>

      <!-- HELP -->
      <div class="col-md-2 col-sm-6 mb-4">
        <div class="footer-title">HELP</div>
        <ul class="list-unstyled">
          <li><a href="#">24/7 call& chat support</a></li>
          <li><a href="#">Order modification requests </a></li>
          <li><a href="#"> feedback options</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <!-- CONSUMER POLICY -->
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="footer-title">CONSUMER POLICY</div>
        <ul class="list-unstyled">
          <li><a href="#">Chat and Call Support</a></li>
          <li><a href="#">24/7 Customer Support</a></li>
          <li><a href="#">Meal Replacement and Refund Policy</a></li>
          <li><a href="#">Automated Feedback Collection</a></li>
          <li><a href="#">Subscription to Zero-Cost Delivery</a></li>
          <li><a href="#"> Health & Safety </a></li>
        </ul>
      </div>

      <!-- ADDRESS -->
      <div class="col-md-2 col-sm-12 mb-4">
        <div class="footer-title">Mail Us:</div>
        <p>
          Shidori Kitchen Private Limited,<br>
          Karve Nagar,<br>
          Outer Canal Road,<br>
          Pune, 411052,<br>
          Maharastra, India
        </p>
        </div>
      
      <div class="col-md-2 col-sm-12 mb-4">
       <div class="footer-title">Registered Office Address:</div>
        <p>
          Shidori Kitchen Private Limited,<br>
          Karve Nagar,<br>
          Outer Canal Road, ,<br>
          Pune, 411052,<br>
          Maharastra, India<br>
          CIN: U51109KA2012PTC066107<br>
          Telephone: <a href="">02147896534</a> / <a href="">02147896533</a>
        </p>
      </div>
    </div>
    <hr>
 <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
              <span>© 2025 Copyright:
                <a href="#" class="text-reset fw-bold">Shidori Kitchen Pvt. Ltd.</a>
              </span>
            </div>
            <div class="col-12 col-md-6 icons text-center text-md-end">
              <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fas fa-envelope"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
</div>

