
.button{
 background-image: linear-gradient(90deg, #FF512F, #FF7043);
}
.card{
    background-image: linear-gradient(to bottom right, rgb(246, 246, 213),rgb(248, 225, 225));

}
h4{
  text-align: center;
  font-weight: bold;
}
label{
    font-weight: bold;
}
input{
  border: 1px solid orange;

}
