    .navbar {
      background-color:#fe9a21; 
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      height: 80px;
    }
    .navbar-brand img {
      height: 75px;
    }
    .nav-link {
      color: #333 !important;
      font-weight: 500;
    font-weight: bold;

      margin-right: 25px;
      transition: 0.3s;
    }
   .login-btn{
    margin-right: -50px;
   }

   .dropdown{
    margin-right: -50px;
   }